[submodule "backend"]
	path = backend
	url = https://github.com/Kristoffer1122/the_hub_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Kristoffer1122/the_hub_frontend.git
